<header id="header"><!--header-->
	<div class="header-middle"><!--header-middle-->
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="logo pull-left">
						<a href="<?php echo $this->baseUrl(); ?>"><img src="images/home/logo.png" alt="" /></a>
					</div>
					
				</div>
				<div class="col-sm-8">
					<div class="shop-menu pull-right">
						<ul class="nav navbar-nav">
							<li><a href="<?php echo $this->baseUrl(); ?>/meus-pedidos"><i class="fa fa-user"></i> Meus Pedidos</a></li>
							<li><a href="<?php echo $this->baseUrl(); ?>/carrinho"><i class="fa fa-shopping-cart"></i> Carrinho (<?php echo $this->MinhaSacola()->qtde();?>)</a></li>
							<?php if(!App_Plugin_Login::getInstance()->hasIdentity()) { ?>
								<li><a href="<?php echo $this->baseUrl(); ?>/identificacao" class="active"><i class="fa fa-lock"></i> Login</a></li>
							<?php } else { ?>
								<li><a href="<?php echo $this->baseUrl(); ?>/logout" class="active"><i class="fa fa-lock"></i> Logout</a></li>
							<?php } ?>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div><!--/header-middle-->

	<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="search_box pull-right">
							<form action="<?php echo $this->BaseUrl(); ?>/produtos/busca" method="get" name="frmBusca">
								<input type="text" name="palavra" placeholder="Pesquisar"/>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-bottom-->
</header><!--/header-->