<section id="form"><!--form-->
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-sm-offset-1">
				<div class="login-form"><!--login form-->
					<h2>Login</h2>
					<?php if ($this->message) { ?>
							<p><?php echo $this->message; ?></p>
					<?php } ?>
					<form action="<?php echo $this->BaseUrl(); ?>/identificacao" method="post" name="frmLogin" id="frmLogin">
						<input type="hidden" name="redirect" value="<?php echo $this->escape($this->redirect); ?>" />
						<input type="text" id="email" name="email" maxlength="80" value="r.lacerda83@gmail.com" placeholder="E-mail">
						<input type="password" id="senha" name="senha" maxlength="15" value="123mudar" placeholder="Senha">
						
						<button type="submit" class="btn btn-default">Login</button>
					</form>
				</div><!--/login form-->
			</div>
		</div>
	</div>
</section><!--/form-->