/*
 * Ext JS Library 3.3.1
 * Copyright(c) 2006-2009, Ext JS, LLC.
 * licensing@extjs.com
 * 
 * http://extjs.com/license
 */

.formGaleria-textfield {
	background:#F1F1F1 !important;
	border:0 none !important;
}

.formGaleria-textfield:hover{border: 1px solid #E4E4E4 !important;}

.formGaleria .x-panel-body{
	background: white;
	font: 11px Arial, Helvetica, sans-serif;
}
.formGaleria .thumb{
	background: #dddddd;
	padding: 3px;
	height: 90px;
	width: 120px;
	text-align: center;
}
.formGaleria .thumb img{
	
}
.formGaleria .thumb-wrap{
	float: left;
	margin: 4px;
	margin-right: 0;
	padding: 5px;
	width: 125px;
}
.formGaleria .thumb-wrap span{
	display: block;
	overflow: hidden;
	text-align: center;
}

.formGaleria .x-view-over{
    border:1px solid #dddddd;
    background: #efefef url(../../resources/images/default/grid/row-over.gif) repeat-x left top;
	padding: 4px;
}

.formGaleria .x-view-selected{
	background: #eff5fb url(images/selected.gif) no-repeat right bottom;
	border:1px solid #99bbe8;
	padding: 4px;
}
.formGaleria .x-view-selected .thumb{
	background:transparent;
}

.formGaleria .loading-indicator {
	font-size:11px;
	background-image:url('../../resources/images/default/grid/loading.gif');
	background-repeat: no-repeat;
	background-position: left;
	padding-left:20px;
	margin:10px;
}

.detalhesImagem {
	padding: 10px;
}