@CHARSET "ISO-8859-1";

/* Login */
.icon-login-window { background-image: url('../images/icons/small/key.png') !important; }
.icon-login-logar { background-image: url('../images/icons/medium/logar.png') !important; }
.icon-login-esqueci { background-image: url('../images/icons/medium/esqueci.png') !important; }

/* Menus */
.icon-close-tab { background-image: url('../images/icons/small/close-tab.png') !important; }
.icon-close-alltab { background-image: url('../images/icons/small/close-alltab.png') !important; }

/* Site */

.icon-modulos-large { background-image: url('../images/icons/large/modulos.png') !important; }

.icon-experts-small { background-image: url('../images/icons/small/expert.png') !important; }

.icon-dhtml-small { background-image: url('../images/icons/small/dhtml.png') !important; }
.icon-dhtml-large { background-image: url('../images/icons/large/dhtml.png') !important; }

.icon-banners-small { background-image: url('../images/icons/small/banners.png') !important; }
.icon-banners-large { background-image: url('../images/icons/large/banners.png') !important; }

.icon-clientes-small { background-image: url('../images/icons/small/clientes.png') !important; }
.icon-clientes-large { background-image: url('../images/icons/large/clientes.png') !important; }

.icon-posts-small { background-image: url('../images/icons/small/posts.png') !important; }
.icon-posts-large { background-image: url('../images/icons/large/posts.png') !important; }

.icon-concurso-small { background-image: url('../images/icons/small/concurso-cultural.png') !important; }
.icon-concurso-large { background-image: url('../images/icons/large/concurso-cultural.png') !important; }

.icon-posts-small { background-image: url('../images/icons/small/posts.png') !important; }
.icon-posts-large { background-image: url('../images/icons/large/posts.png') !important; }

.icon-look-estatico-small { background-image: url('../images/icons/small/look-estatico.png') !important; }
.icon-look-estatico-large { background-image: url('../images/icons/large/look-estatico.png') !important; }

.icon-look-configuravel-small { background-image: url('../images/icons/small/look-configuravel.png') !important; }
.icon-look-configuravel-large { background-image: url('../images/icons/large/look-configuravel.png') !important; }

.icon-webmarketing-small { background-image: url('../images/icons/small/webmarketing.png') !important; }
.icon-webmarketing-large { background-image: url('../images/icons/large/webmarketing.png') !important; }
.icon-newsletters-small { background-image: url('../images/icons/small/newsletters.png') !important; }
.icon-newsletters-large { background-image: url('../images/icons/large/newsletters.png') !important; }
.icon-newsletters-send-small { background-image: url('../images/icons/small/newsletters-send.png') !important; }
.icon-newsletters-groups-small { background-image: url('../images/icons/small/newsletters-groups.png') !important; }
.icon-newsletters-import-small { background-image: url('../images/icons/small/news-import.png') !important; }
.icon-newsletters-lote-add-small { background-image: url('../images/icons/small/news-lote-add.png') !important; }
.icon-newsletters-lote-send-small { background-image: url('../images/icons/small/news-lote-send.png') !important; }
.icon-newsletters-lote-delete-small { background-image: url('../images/icons/small/news-lote-delete.png') !important; }
.icon-newsletters-clean-small { background-image: url('../images/icons/small/news-clean-database.png') !important; }
.icon-newsletters-lote-graph-small { background-image: url('../images/icons/small/news-lote-graph.png') !important; }

.icon-estoque-small { background-image: url('../images/icons/small/estoque.png') !important; }
.icon-estoque-large { background-image: url('../images/icons/large/estoque.png') !important; }

/* Produtos */
.icon-categorias-small { background-image: url('../images/icons/small/categorias.png') !important; }
.icon-categorias-large { background-image: url('../images/icons/large/categorias.png') !important; }

.icon-produtos-relacionados-small { background-image: url('../images/icons/small/produtos-relacionados.png') !important; }

.icon-marcas-small { background-image: url('../images/icons/small/marcas.png') !important; }
.icon-marcas-large { background-image: url('../images/icons/large/marcas.png') !important; }

.icon-produtos-small { background-image: url('../images/icons/small/produtos.png') !important; }
.icon-produtos-large { background-image: url('../images/icons/large/produtos.png') !important; }

.icon-frete-small { background-image: url('../images/icons/small/frete.png') !important; }

.icon-vitrine-small { background-image: url('../images/icons/small/vitrine.png') !important; }

.icon-variacoes-small { background-image: url('../images/icons/small/variacoes.png') !important; }
.icon-variacoes-large { background-image: url('../images/icons/large/variacoes.png') !important; }

.icon-comentarios-small { background-image: url('../images/icons/small/comentarios.png') !important; }

.icon-avaliacao-small { background-image: url('../images/icons/small/avaliacao.png') !important; }

.icon-kit-small { background-image: url('../images/icons/small/kit.png') !important; }
.icon-kit-medium { background-image: url('../images/icons/medium/kit.png') !important; }

.icon-top10-small { background-image: url('../images/icons/small/top10.png') !important; }

/* Pedidos */
.icon-promocoes-small { background-image: url('../images/icons/small/promocoes.png') !important; }
.icon-promocoes-large { background-image: url('../images/icons/large/promocoes.png') !important; }

.icon-cupons-small { background-image: url('../images/icons/small/cupons.png') !important; }
.icon-ofertas-small { background-image: url('../images/icons/small/ofertas.png') !important; }
.icon-regras-small { background-image: url('../images/icons/small/regras.png') !important; }
.icon-embalagem-small { background-image: url('../images/icons/small/embalagem.png') !important; }
.icon-primeira-small { background-image: url('../images/icons/small/primeira.png') !important; }
.icon-valorpedido-small { background-image: url('../images/icons/small/valorpedido.png') !important; }

.icon-pedidos-abandonados-small { background-image: url('../images/icons/small/pedidos-abandonados.png') !important; }
.icon-pedidos-small { background-image: url('../images/icons/small/pedidos.png') !important; }
.icon-pedidos-large { background-image: url('../images/icons/large/pedidos.png') !important; }

.icon-relatorios-small { background-image: url('../images/icons/small/relatorios.png') !important; }
.icon-relatorios-large { background-image: url('../images/icons/large/relatorios.png') !important; }

.icon-printer-small { background-image: url('../images/icons/small/printer.png') !important; }
.icon-status-small { background-image: url('../images/icons/small/status.png') !important; }

/* Configuração */
.icon-avista-small { background-image: url('../images/icons/small/a-vista.png') !important; }

.icon-correios-small { background-image: url('../images/icons/small/correios.png') !important; }

.icon-emails-small { background-image: url('../images/icons/small/emails.png') !important; }

.icon-galeria-small { background-image: url('../images/icons/small/camera.png') !important; }

.icon-tabela-small { background-image: url('../images/icons/small/tabela.png') !important; }
.icon-tabela-large { background-image: url('../images/icons/large/tabela.png') !important; }

/* Sistema */
.icon-logout { background-image: url('../images/icons/large/disconnect.png') !important; }
.icon-password { background-image: url('../images/icons/small/password.png') !important; }
.icon-perfiluser { background-image: url('../images/icons/small/users.png') !important; }

.icon-user-insert { background-image: url('../images/icons/small/user-insert.png') !important; }
.icon-user-update { background-image: url('../images/icons/small/user-update.png') !important; }
.icon-user-delete { background-image: url('../images/icons/small/user-delete.png') !important; }

/* Geral */
.icon-insert { background-image: url('../images/icons/small/insert.png') !important; }
.icon-update { background-image: url('../images/icons/small/update.png') !important; }
.icon-delete { background-image: url('../images/icons/small/delete.png') !important; }
.icon-tools { background-image: url('../images/icons/small/tools.png') !important; }
.icon-tools-large { background-image: url('../images/icons/large/tools.png') !important; }
.icon-filter-clean { background-image: url('../images/icons/small/filter-clean.png') !important; }
.icon-filter { background-image: url('../images/icons/small/filter.png') !important; }
.icon-refresh { background-image: url('../images/icons/small/refresh.png') !important; }
.icon-excel { background-image: url('../images/icons/small/excel.gif') !important; }

.icon-save-small { background-image: url('../images/icons/small/save.png') !important; }
.icon-save-medium { background-image: url('../images/icons/medium/save.png') !important; }

.icon-save-cancel-small { background-image: url('../images/icons/small/save-cancel.png') !important; }
.icon-save-cancel-medium { background-image: url('../images/icons/medium/save-cancel.png') !important; }

.icon-up { background-image: url('../images/icons/small/up.png') !important; }
.icon-down { background-image: url('../images/icons/small/down.png') !important; }

.icon-add-small { background-image: url('../images/icons/small/add.png') !important; }
.icon-add-medium { background-image: url('../images/icons/medium/add.png') !important; }

.icon-ok-small { background-image: url('../images/icons/small/ok.png') !important; }
.icon-ok-medium { background-image: url('../images/icons/medium/ok.png') !important; }

.icon-cancel-small { background-image: url('../images/icons/small/cancel.png') !important; }
.icon-cancel-medium { background-image: url('../images/icons/medium/cancel.png') !important; }

.icon-folder-pai { background: url('../images/icons/small/folder_add.png') no-repeat !important; }
.icon-folder { background: url('../images/icons/small/folder_closed.png') no-repeat !important; }

.icon-view { background-image: url('../images/icons/small/view.png') !important; }

.icon-send-small { background-image: url('../images/icons/small/send-image.png') !important; }

.icon-ativado { background-image: url('../images/icons/small/ok.png') !important; }
.icon-desativado { background-image: url('../images/icons/small/forbidden.png') !important; }

.icon-pause-small { background-image: url('../images/icons/small/pause.png') !important; }
