<div class="col-sm-4">
	<div class="product-image-wrapper">
		<div class="single-products">
			<div class="productinfo text-center">
				<img width="268" height="249" src="<?php echo ($this->produto->getVitrine()->getImagens()->count() ? $this->produto->getVitrine()->getImagens()->seek(0)->current()->getBasePath('vitrine') : 'images/home/product6.jpg'); ?>">

				<?php /* <img src="images/home/product1.jpg" alt="" /> */?>
				<h2>R$ <?php echo App_Funcoes_Money::toCurrency($this->produto->getVitrine()->getPreco()); ?></h2>
				<p><?php echo $this->escape($this->produto->getNome()); ?></p>
				<a href="<?php echo $this->FriendlyUrl('produto', $this->produto->getCodigo(), $this->escape($this->produto->getNome())); ?>/?sku=<?php echo $this->produto->getVitrine()->getSku(); ?>" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Comprar</a>
			</div>
			<div class="product-overlay">
				<div class="overlay-content">
					<h2>R$ <?php echo App_Funcoes_Money::toCurrency($this->produto->getVitrine()->getPreco()); ?></h2>
					<p><?php echo $this->escape($this->produto->getNome()); ?></p>
					<a href="<?php echo $this->FriendlyUrl('produto', $this->produto->getCodigo(), $this->escape($this->produto->getNome())); ?>/?sku=<?php echo $this->produto->getVitrine()->getSku(); ?>" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Comprar</a>
				</div>
			</div>
		</div>
	</div>
</div>