<?php if($this->produtos['response']['numFound'] > 0) { ?>
	<?php foreach($this->produtos->response->docs as $produto) { ?>
		<div class="col-sm-4">
			<div class="product-image-wrapper">
				<div class="single-products">
					<div class="productinfo text-center">
						<img width="268" height="249" src="<?php echo $produto->imagem ?>">
		
						<?php /* <img src="images/home/product1.jpg" alt="" /> */?>
						<h2>R$ <?php echo App_Funcoes_Money::toCurrency($produto->preco); ?></h2>
						<p><?php echo $this->escape(utf8_decode($produto->nome)); ?></p>
						<a href="<?php echo $this->FriendlyUrl('produto', $produto->id, $this->escape(utf8_decode($produto->nome))); ?>/?sku=<?php echo $produto->sku; ?>" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Comprar</a>
					</div>
					<div class="product-overlay">
						<div class="overlay-content">
							<h2>R$ <?php echo App_Funcoes_Money::toCurrency($produto->preco); ?></h2>
							<p><?php echo $this->escape(utf8_decode($produto->nome)); ?></p>
							<a href="<?php echo $this->FriendlyUrl('produto', $produto->id, $this->escape(utf8_decode($produto->nome))); ?>/?sku=<?php echo $produto->sku; ?>" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Comprar</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	<?php } ?>
<?php } else { ?>
	<span>Sem produtos para exibicao</span>
<?php } ?>