<section>
	<div class="container content">
		<div class="row">
			<?php echo $this->render('categorias.phtml')?>
			
			<div class="col-sm-9 padding-right">
				<div class="features_items"><!--features_items-->
					<h2 class="title text-center">Produtos</h2>
					<?php 
						if($this->solr) {
							$this->Produtos()->renderProdutosSolr($this->produtos);
						} else {
							if($this->paginator->count()) {
								foreach ($this->paginator as $key => $arrProduto) {
									$produto = App_Model_DAO_Produtos::getInstance()->createRow($arrProduto);
									$this->Produtos()->renderProduto($produto);
								}
							} else {
								echo "<span>Sem produtos para exibicao</span>";
							} 
						} 
					?>
					
				</div><!--features_items-->
			</div>
		</div>
	</div>
</section>